@using WAD_NguyenCaoHieu.Models
@model IEnumerable<WAD_NguyenCaoHieu.Models.Product>

@{
    ViewBag.Title = "List Products";
    List<Category>categories = ViewBag.categories;
}
<div class="d-flex justify-content-between align-items-center mt-5 mb-3">
    <h2 class="mb-0">List Products</h2>
    @Html.ActionLink("Create New", "ProductForm",new { area = "" },new {@class="text-decoration-none"})
</div>
<div>

    @using (Ajax.BeginForm("SearchProduct", "Product", new { }, new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "table-update"
    }, new { @class = "d-flex form-search" }))
    {
        <input type="hidden" value="" name="isClear"/>
        <div>
            <input type="date" name="date" class="form-control"/>
        </div>
        <div class="mx-4 mb-3">
            <input type="text" name="name" class="form-control" placeholder="search for name.."/>
        </div>
        <div>
            <select class="form-control" name="categoryid">
                <option value="">Choose Category</option>
                @foreach (var item in categories)
                {
                    <option value=@item.CategoryId>@item.CategoryName</option>
                }
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mx-4 btn-search">Search</button>
            <button type="submit" class="btn btn-outline-danger text-black-50 btn-clear">Clear</button>
        </div>
    }

</div>
<script>
    const clearBtn = document.querySelector(".btn-clear");
    const searchBtn = document.querySelector(".btn-search")
    const formSearch = document.querySelector(".form-search");
    searchBtn.addEventListener("click",()=>{
       formSearch.querySelector('input[name="isClear"]').value = "";
    })
    clearBtn.addEventListener("click",()=>{
        formSearch.querySelector('input[name="date"]').value = "";
        formSearch.querySelector('input[name="name"]').value = "";
        formSearch.querySelector('input[name="isClear"]').value = "Clear";
        formSearch.querySelector('select[name="categoryid"]').value = "";
    });
</script>
<div id="table-update">
    @Html.Partial("_ProductPartialView", Model)    
</div>
